
body{
	font-size:18px;
}
#whisperCan{

	/*width:100%;
	height:100%;
	width:640px;
	height:360px;
	*/
}
#main{
	width:100%;
	height:900px;
}

#canHolder{
	width:100%;
	height:120%;
	cursor: pointer;
}
#header{
	width:100%;
	height: 100px;
	color: #444444;
	font-size:2.5em;
	font-family: Myriad Pro, Helvetica, Arial, sans-serif;
	cursor:pointer;
}

@media (max-width: 1024px){

	#canHolder{
		height:80%;
	}
}