
body{
	font-size:18px;
	font-family: Myriad Pro, Helvetica, Arial, sans-serif;
	overflow:hidden;
	height:100%;
}

.textlink{
	text-decoration:none;
	font-weight:bold;
	color: #B9D8FA;
}

.textlink:hover{
	color:#222;
}

.textlink:active{
	color:#222;
}

#whisperCan{

	/*width:100%;
	height:100%;
	width:640px;
	height:360px;
	*/
}
#main{
	width:100%;
	height:900px;
}

/* this is where you can resize the canvas/stage */
#canHolder{
	width:85%;
	height:150%;
	cursor: pointer;
	margin-left:auto;
	margin-right: auto;
	position:relative;
	/* use this number to shift the canvas up or down */
	top:-100px;
}
/*this is the header box itself -- includes translator and title*/
#header{
	width:100%;
	height: 100px;
	color: #444444;
	cursor:pointer;
}
/*this is just the text for the title*/
#pageTitle{
	position:relative;
	left:0px;
	top:0px;
	font-size:2.5em;
}
/* this is the text base translation link */
#translink{
	position:relative;
	float:right;
	right:5px;
	top:8px;
	width:128px;
	height:77px;
	z-index: 250;
	font-size:1.2em;
	cursor: pointer;
}
#transflag{
	position:relative;
	float:right;
	right:5px;
	top:8px;
	width:128px;
	height:77px;
	background-image: url('../images/de_flag.png');
	background-repeat: none;
	z-index: 250;
}

/* this is the whole content box */
#contentBox{
	background-color: #FFFFFF;
	
	/*opacity code*/
	opacity: 0.8;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	/* IE 5-7 */
	filter: alpha(opacity=80);
	/* Netscape */
	-moz-opacity: 0.8;
	/* Safari 1.x */
	-khtml-opacity: 0.8;

	width:80%;
	height:80%;
	position:absolute;
	margin-left:auto;
	margin-right:auto;
	top:100px;
	z-index:200;
	display:none;
	/*right:10px;*/
	left:25px;
	border: 2px solid #DDDDDD;
	color: #444444;n
	padding:35px;
	overflow:auto;
	font-size:1.3em;
	padding:10px;
	
}
#contentHeader{
	font-size: 1.8em;
	font-weight:bold;
	clear:both;
}
#contentBody{
	padding-top:35px
}
#contentBack{
	padding-top:35px;
	font-weight: bold;
	cursor:pointer;
}

.contentSubtitle{
	padding-top: 20px;
	font-size:1.3em;
}

#shade{
	position:fixed;
	top:0px;
	width:100%;
	height:100%;
	background-color:#FFF;
	
	/* opacity code */
	opacity:.0;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* IE 5-7 */
	filter: alpha(opacity=0);
	/* Netscape */
	-moz-opacity: 0.0;
	/* Safari 1.x */
	-khtml-opacity: 0.0;
	
	z-index:199;
	display:none;
}
.phoThumb{
	padding:8px;
}
.thumbhold{
	position:relative;
	float:left;
	display:inline;
}
.allThumbs{
	clear:both;
	width:100%;
	height:90px;
}

/*landscape ipad*/
@media (max-width: 1024px){

	#canHolder{
		height:80%;
	}
}

/*iphone portrait*/
@media (max-width: 640px){
	
}